.header_PayForTokens {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 10px;
    padding: 0 30px 0 30px;
}

.main {
    .Wrapper_position {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 30px 0 30px 0;
    }
    .wrapper_buttons{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 130px;
    }
}