.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    .logo {
        margin-bottom: 15px;
    }
    .text {
        display: inline-block;
        background-color: #0099d7;
        color: #fff;
        padding: 10px 35px;
    }
}
.exchange {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px 0 15px 0;
    .up {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 60%;
        p {
            background-color: #eee;
            padding: 10px 25px;
        }
    }
    .down {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
.graph_wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}

.button_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    .button {
        width: 200px;
        margin-bottom: 15px;
        color: #ffffff;
    }
}